body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 35px;
}
.first{
   color: orange;
}

.half{
    width: 50%;
    padding: 4%;
}
.half img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5%;
    color: azure;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    
}
.half-a{
    width: 50%;
    padding: 4%;

}
.big-dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;

}
.half-a img{
    width: 100%;
}
.clr{
    color: gray;
}
.resum{
    color: azure;
    padding: 10px 20px;
    border-radius: 5%;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(lightsalmon,tomato);
}
.flexiable-conatiner{
    display: flex;
}
footer p{
    text-align: center;
}
h2{
    font-size: 35px;
    margin-top: 20px;
}
h3{
    color: orange;
}
.experience-item{
    padding: 20px;
    box-shadow: 10px 10px 40px grey;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;

}
.div-section-margin{
    margin-bottom: 80px;
    color: grey;
    display: block;
}
.work-experience{
    margin-bottom: 150px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-B{
    border-left: 10px solid;
    border-image: linear-gradient(lightsalmon,pink);
    border-image-slice: 1;
}
#baby-web-B{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}