body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 35px;
}
.first{
   color: orange;
}

.half{
    width: 50%;
    padding: 4%;
}
.half img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5%;
    color: azure;
    font-weight: 700;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 100px;
}
.half-a{
    width: 50%;
    padding: 4%;

}
.big-dream{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-bottom: 100px;
}
.half-a img{
    width: 100%;
}
.clr{
    color: gray;
}
.resum{
    color: azure;
    padding: 10px 20px;
    border-radius: 5%;
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(lightsalmon,tomato);
}
.flexiable-conatiner{
    display: flex;
}
footer p{
    text-align: center;
}
h2{
    font-size: 30px;
}
h3{
    color: orange;
}
